# Disable the automatic menu displaying on every environment reload.
# export DEVSHELL_NO_MOTD=1

source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="

nix_direnv_watch_file ./std-flakeParts/flake.nix
nix_direnv_watch_file ./std-flakeParts/flake.lock
use flake ./std-flakeParts --impure
