name: "CI"
on:
  push:
    branches:
      - main
      - trying
      - staging

  schedule:
    - cron: "0 0 * * SUN" # every sunday
jobs:
  devshell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v19
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.9.0pre20220428_660835d/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = nixos-test benchmark big-parallel kvm recursive-nix


      - name: Check develop
        run: |
          nix -Lv develop -c -- echo OK
